body{
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 743px){
    .card{
        max-width: 335px;
    }
    .container{
        max-width: 360px;
    } 
} 
@media (min-width: 743px){
    .card{
        max-width: 335px;
    }
    .container{
        max-width: calc(360px * 2);
    }
}